@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Nanum+Gothic|Nanum+Myeongjo');

body{
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif !important;
}

tt{
font-family: 'Kaushan Script', cursive !important;
}